/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  margin: 0;
}

.page {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

picture {
  display: contents;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.content {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
