.card__link {
  text-decoration: none;
}

.card__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
}

.card__button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
  border: none;
  text-decoration: none;
}
