.hero {
  background-color: rgba(104, 183, 56, 0.85);
}

.hero__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.hero__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
}

.hero__button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  text-transform: uppercase;
}
